@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-transparent {
    background-color: transparent;
  }

  input[type=file]{
    display: none;
    visibility: hidden;
  }

  td{
    text-align: center;
    vertical-align: middle;
  }
  img.orb {
    width: 50px;
    height: 50px;
  }

  .node-list {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .node {
    color: white;
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    background-color: #ccc4ff30;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }