<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Crystal Editing</title>
  <link href="assets/tailwind.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body class="bg-gray-900">
  <div id="fullscreen" class="grid h-screen place-content-center">
    <div class="text-center">
      <p class="text-white text-xl">Final Fantasy XIII Crystal: RE</p>
      <br>
      <form id="form" hx-encoding="multipart/form-data" hx-post="/upload" hx-target="#fullscreen" hx-swap="outerHTML">
        <label class="bg-transparent hover:bg-red-500 font-semibold py-2 px-4 border border-red-500 hover:border-transparent rounded text-white" for="filewpd">Select WPD File</label>
        <input id="filewpd" type="file" name="file"/>
        <button class="bg-transparent hover:bg-blue-500 font-semibold py-2 px-4 border border-blue-500 hover:border-transparent rounded text-white">
            Upload
        </button>
       </form>
    </div>
  </div>
  <script>
    htmx.on("htmx:confirm", (e) => {
      console.log("Before check file");
      var file_input = document.getElementById('filewpd');
      // Check if file has input
      if (!file_input.value){
        alert("No file selected!");
        //prevent event to go further with issuing a request
        e.preventDefault()
        return;
      }

      console.log("After check file");
    });

    htmx.on("htmx:afterRequest", (e) => {
      // console.log("After Request Location Href");
      // window.location.href = "/node_viewer";
    })
  </script>
</body>
</html>