<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Crystal Editing</title>
  <link href="assets/tailwind.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body class="bg-gray-900">
  <div id="fullscreen" class="grid h-screen place-content-center">
    <div class="text-center">
      <p class="text-white text-xl">Final Fantasy XIII Crystal: RE</p>
      <form id="form" hx-encoding="multipart/form-data" hx-post="/upload" hx-target="#fullscreen" hx-swap="outerHTML">
        <input type="file" name="file">
        <button class="to-blue-500 text-white">
            Upload
        </button>
       </form>
    </div>
  </div>
</body>
</html>