<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Crystal Editing</title>
  <link href="assets/tailwind.css" data-trunk rel="css" />
</head>
<body>
    <table class="steelBlueCols center">
    <thead>
      <tr>
        <th>Character</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for node in nodes %}
        <tr>
          <td>{{ node.char }}</td>
          <td>{{ node.name }}</td>
          <td>{{ node.cost }}</td>
          <td>{{ node.type }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>