<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Crystal Editing</title>
  <link href="assets/tailwind.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body class="bg-gray-900">
  <div id="node-viewer">
  <div class="flex justify-center flex-col">
    <div class="flex justify-center flex-row py-5">
      <button
        class="arrow left bg-transparent hover:bg-blue-500 font-semibold border-blue-500 hover:border-transparent rounded text-white"
        id="btn_prev" hx-get="/node_viewer?page={{prev_page}}" hx-target="#node-viewer" hx-swap="outerHTML" hx-push-url="true">
      </button>
      <button
        class="arrow right bg-transparent hover:bg-blue-500 font-semibold border-blue-500 hover:border-transparent rounded text-white"
        id="btn_next" hx-get="/node_viewer?page={{next_page}}" hx-target="#node-viewer" hx-swap="outerHTML" hx-push-url="true">
      </button>
    </div>
    <table class="bg-blue-500 px-4 py-2 text-white">
      <thead>
        <tr>
          <th>Character</th>
          <th>Name</th>
          <th>Cost</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for node in nodes %}
        <tr>
          <td>{{ node.char }}</td>
          <td>{{ node.name }}</td>
          <td>{{ node.cost }}</td>
          <td>{{ node.type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  </div>
</body>
</html>