<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Crystal Editing</title>
  <link href="assets/tailwind.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body class="bg-gray-900">
  <div id="node-viewer">
    <div class="flex justify-center flex-col h-max">
      <div class="flex justify-center flex-row pt-10 pb-4">
        <button
          class="arrow left bg-transparent hover:bg-blue-500 font-semibold border-blue-500 hover:border-transparent rounded text-white"
          id="btn_prev" hx-get="/node_viewer?page={{prev_page}}" hx-target="#node-viewer" hx-swap="outerHTML"
          hx-push-url="true">
        </button>
        <button
          class="arrow right bg-transparent hover:bg-blue-500 font-semibold border-blue-500 hover:border-transparent rounded text-white"
          id="btn_next" hx-get="/node_viewer?page={{next_page}}" hx-target="#node-viewer" hx-swap="outerHTML"
          hx-push-url="true">
        </button>
      </div>
      <div class="character">
        <p>Lightning</p>
      </div>

      <div class="node-list">
        <div class="node-role">
        <p class="commando">Commando</p>
        <div class="nodes">
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 STR</p>
            <img class="orb" src="/templates/assets/Red Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
        </div>
      </div>
      <div class="node-role">
        <p class="medic">Medic</p>
        <div class="nodes">
          <div class="node">
            <p>+ 5 HP</p>
            <img class="orb" src="/templates/assets/Green Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <img class="orb" src="/templates/assets/Yellow Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
        </div>
      </div>
      <div class="node-role">
        <p class="savager">Savager</p>
        <div class="nodes">
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
        </div>
        </div>
        <div class="node-role">
        <p class="synergist">Synergist</p>
        <div class="nodes">
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 STR</p>
            <img class="orb" src="/templates/assets/Red Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
        </div>
        </div>
        <div class="node-role">
        <p class="saboteur">Saboteur</p>
        <div class="nodes">
          <div class="node">
            <p>+ 5 MAG</p>
            <img class="orb" src="/templates/assets/Blue Orb.png">
            <p>Cost: 500</p>
          </div>
          <div class="node">
            <p>+ 5 STR</p>
            <img class="orb" src="/templates/assets/Red Orb.png">
            <p>Cost: 500</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>

</html>